:root {
    font-family: 'Roboto', sans-serif;
}

/* main blocks */

body {
    margin: 0;
    background-color: #123;
    color: white;
}

header, content, footer {
    display: block;
    padding: 1rem;
}

header {
    border-bottom: 1px #FFFA solid;
}

content {
    background-color: #345;
}

/* nav */

nav ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    --nav-el-margin: 1rem;
    margin: calc(-1 * var(--nav-el-margin) / 2);
    font-weight: 300;
}

nav ul li {
    display: inline-block;
    margin: calc(var(--nav-el-margin) / 2);
    /* border: 1px solid white; */
}

nav ul li a {
    display: flex;
}

.nav-link {
    padding: .5rem;
}

/* logo */

.nav-logo {
    font-family: 'Roboto Slab', serif;
    margin: -.2rem;
    text-decoration: none;
}

.nav-logo:hover {
    color: white;
}

.logo {
    vertical-align: bottom;
    width: 3rem;
    height: 3rem;
    margin: .2rem;
}

.logo.invert {
    filter: invert(1);
}

.logo-next {
    font-size: 1.2rem;
    line-height: 1.5rem;
    display: inline-block;
    vertical-align: bottom;
    margin: .2rem;
}

.title {
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
}

.subtitle {
    font-size: 1.02rem;
    margin-top: 0;
    font-weight: 300;
}

.box {
    display: inline-block;
    border: 1px solid black;
    padding: 2rem;
    margin: 1rem;
    border-radius: .2rem;
}

p {
    margin: 1rem;
    max-width: 20rem;
    text-align: justify;
}

.website {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    letter-spacing: .05rem;
    font-size: .9rem;
}

a {
    border-radius: .1rem;
    color: white;
    font-weight: 700;
    text-decoration: none;
    transition-property: all;
    transition-duration: .1s;
    transition-timing-function: ease-in;
}

a:hover {
    text-decoration: underline;
}

a:focus, a:hover {
    background-color: #FFF3;
}

a:active {
    background-color: #FFF4;
    box-shadow: 0 0 0 .2rem #FFF4;
}