:root {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
}

/* main blocks */

body {
    margin: 0;
    background-color: #112;
    color: #FFF;
}

header, content, footer {
    display: block;
    padding: 1.5rem;
}

footer {
    text-align: center;
}

/* nav */

nav ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    --nav-el-margin: 1rem;
    margin: calc(-1 * var(--nav-el-margin) / 2);
    font-weight: 300;
}

nav ul li {
    display: flex;
    flex-wrap: wrap;
    margin: calc(var(--nav-el-margin) / 2);
}

nav ul li.grow {
    flex-grow: 1;
}

nav ul li a {
    display: flex;
    align-items: center;
}

.nav-link {
    padding: .5rem;
}

/* logo */

.nav-logo {
    font-family: 'Roboto Slab', serif;
    margin: -.2rem;
    text-decoration: none;
    align-items: center;
}

.nav-logo:hover,
.nav-logo:focus,
.nav-logo:active {
    text-decoration: none;
    background: none;
    box-shadow: none;
}

.logo {
    vertical-align: bottom;
    width: 3rem;
    height: 3rem;
    margin: .2rem;
}

.logo.invert {
    filter: invert(1);
}

.logo-next {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin: .2rem;
}

.logo-next .title {
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
}

.logo-next .subtitle {
    font-size: 1.02rem;
    margin-top: 0;
    font-weight: 300;
}

/* links */

a {
    border-radius: .2rem;
    color: white;
    font-weight: 700;
    text-decoration: none;
    transition-property: all;
    transition-duration: .1s;
    transition-timing-function: ease-in;
}

a:hover {
    text-decoration: underline;
}

a:focus, a:hover {
    background-color: #FFF2;
    box-shadow: 0 0 0 .1rem #FFF2;
}

a:active {
    background-color: #FFF3;
    box-shadow: 0 0 0 .3rem #FFF3;
}

/* quote */

.quote-box {
    display: inline-block;
    font-family: 'Roboto Mono', monospace;
    text-align: left;
    margin-bottom: 3rem;
}

.quote-box .author {
    color: #FFF5;
}

.quote-box .quote {
    margin: 0;
    font-weight: 300;
    border-radius: 0 1rem 1rem 1rem;
    padding: 1rem;
    border: 1px solid #FFF5;
}

/* sections */

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-container section {
    padding: 2rem;
    background-color: #FFF2;
    flex-grow: 1;
}

section p {
    margin: 0;
    padding: .3rem 0;
    text-align: justify;
}

section h2 {
    margin-top: 0;
    color: #FFF8;
    font-size: 1.1rem;
}

/* utils */

.text-center {
    text-align: center;

}