:root {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    --color: #FFF;
    --a-color: hsl(210, 100%, 73%);
    --color-muted: #FFF8;
    --back-color: hsl(210, 54%, 10%);
    --accent-color: hsl(210, 100%, 100%);
    --accent-back-color: hsl(210, 100%, 5%);
}

/* main blocks */

html, body {
    height: 100%;
    margin: 0;
    background-color: var(--back-color);
    color: var(--color);
}

body {
    display: flex;
    flex-direction: column;
}

header, content, footer {
    display: block;
    padding: 1.5rem;
}

content {
    flex-grow: 1;
}

footer {
    text-align: center;
    color: var(--color-muted);
    --a-color: white;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: .3rem 0;
}

/* nav */

nav ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    --nav-el-margin: 1rem;
    margin: calc(-1 * var(--nav-el-margin) / 2);
    font-weight: 300;
    --a-color: white;
}

nav ul li {
    display: flex;
    flex-wrap: wrap;
    margin: calc(var(--nav-el-margin) / 2);
}

nav ul li a {
    padding: .5rem;
    display: flex;
    align-items: center;
}

.nav-link {
    flex-grow: 0;
}

/* logo */

.nav-logo {
    flex-grow: 1;
    font-family: 'Roboto Slab', serif;
    margin: -.2rem;
    text-decoration: none;
    align-items: center;
}

.nav-logo:hover, .nav-logo:focus, .nav-logo:active {
    text-decoration: none;
    background: none;
    box-shadow: none;
}

.logo {
    vertical-align: bottom;
    width: 3rem;
    height: 3rem;
    margin: .2rem;
}

.logo.invert {
    filter: invert(1);
}

.logo-next {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin: .2rem;
}

.logo-next .title {
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
}

.logo-next .subtitle {
    font-size: 1.02rem;
    margin-top: 0;
    font-weight: 300;
}

/* links */

a {
    border-radius: .2rem;
    color: var(--a-color);
    font-weight: 700;
    text-decoration: none;
    transition-property: all;
    transition-duration: .1s;
    transition-timing-function: ease-in;
}

a:hover {
    text-decoration: underline;
}

a:focus, a:hover {
    background-color: #FFF2;
    box-shadow: 0 0 0 .1rem #FFF2;
}

a:active {
    background-color: #FFF3;
    box-shadow: 0 0 0 .3rem #FFF3;
}

/* quote */

.quote-box {
    display: inline-block;
    font-family: 'Roboto Mono', monospace;
    text-align: left;
    margin-bottom: 1rem;
}

.quote-box .author {
    color: #FFF8;
}

.quote-box .quote {
    margin: 0;
    font-size: 1.5rem;
    border-radius: 0 1rem 1rem 1rem;
    padding: 1rem;
    border: 1px solid var(--color);
    color: var(--color);
}

/* sections */

content {
    display: flex;
    flex-direction: column;
}

section {
    margin: 3rem;
}

section.quote {
    text-align: center;
}

section h3 {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-weight: lighter;
    margin: 0;
    padding: 1rem;
    color: var(--color-muted);
}

/* flex-container */

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-box {
    background-color: #FFF1;
    margin: .5rem;
    border: 1px solid var(--accent-back-color);
    border-radius: .2rem;
}

.flex-box .title, .flex-box .title h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: lighter;
    letter-spacing: .05rem;
    padding: 0;
    margin: 0;
    font-size: 1rem;
}

.flex-box .title {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
    color: var(--accent-color);
    background-color: var(--accent-back-color);
}

.flex-box .title .timestamp {
    color: var(--color-muted);
    font-size: .8rem;
}

.flex-box .content {
    padding: 2rem;
}

/* share */

footer .share {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.2rem;
    line-height: 1.2rem;
}

footer .share>* {
    padding: .6rem;
}